
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/explore.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
	    <li><a href="narrative">Narrative</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>The dataset used in this assignment is a collection of sensor data acquired via the AWARE client on my iPhone. In the past week, I installed
        the AWARE app, and through my own configurations, I chose to include WiFi sensor collection. The data collected was done in the background,
        and would upload data to my Google Cloud Platform MySQL instance every time my phone was connected to WiFi.</p>
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>The data came from my iPhone collecting data based on certain sensors. More specifically, I chose to use data collected about the WiFi
	networks that my phone was connected to. This data was collected using the <a href='http://www.awareframework.com/introduction-of-aware-ios-client/'>AWARE client</a> installed
	onto my phone via the App Store.
	</p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>Only I have access to the raw data. I configured a MySQL instance to host the data pushed from my iPhone to my Google Cloud Platform project with a password-protected MySQL user.</p>
      </div>

</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
