<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
            
	    <li class="active"><a href="quality" >Data Quality</a></li>
	    <li><a href="narrative">Narrative</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>The data used in this byte is about WiFi connections that my iPhone has accessed in the past week or so. The data was collected via
        the <a href='http://www.awareframework.com/introduction-of-aware-ios-client/'>AWARE client</a> downloaded via the App Store.
        </p>
      </div>

    
      <div class="page-header">
      <h2>Is the data complete?</h2>
	<p> After exporting and examining the data set from the WiFi table collected by AWARE, there were some entries that did not have an SSID and BSSID associated with it.
	This is due to not being connected to WiFi at the time of collection. For the purpose of the visualization, I excluded these entries because I wanted to
	visualize in particular the WiFi connections. Other than these missing entries, every column for entries associated with a WiFi connection had 
	non-empty values.
	</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
		<p>
		The data is pretty coherent. There were three main columns that I used: the SSID, which is a "human-readable" name of WiFi network, the BSSID, which is the MAC address of the
		connected network, and the timestamp, which was the UNIX timestamp at which the network was connected to. For more information about the sensed fields, you can check out
		the documentation <a href='http://www.awareframework.com/wi-fi/'>here</a>.
		</p>
		<p>In terms of preprocessing the WiFi table, the only field that really needed any preprocessing was the timestamp, which I converted to a human-readable date format. The other
		fields were simply the network names and MAC addresses, and are inherently logical.
      </div>

      <div class="page-header">
		<h2>Is the data correct?</h2>
		<p>
		To be using a third-party client to be collecting information from my phone, I can't be 100% sure that the data is correctly sensed and recorded. From what I can tell,
		the AWARE client is pretty accurate. There were some entries that didn't make sense (being connected to multiple SSID's at once), so I excluded the 
		overlapping entries at a specific point of time. Note that it does make sense to be connected to multiple BSSID's, because a network could have different access points.
		Unexpectedly, there are many WiFi devices that connect to "CMU-SECURE", as compared to my room "tree o four", which only has a few access points.
		</p>
		
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
