<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>The data set presented in this site is about dog bite injuries. The data was provided by a legal firm, and is a collection of 
        injury statistics associated with breeds of dogs that span from 1982 to 2012. For the most part, the data is good quality, although there are
        some missing datum.
        </p>
      </div>

    
      <div class="page-header">
      <h2>Is the data complete?</h2>
	<p> The data was not entirely complete. Some categories of injuries associated with a certain breed were missing or blank. This did not raise
	much concern, as there were not many columns that had missing data. To account for this, I only plotted non-zero statistics for each breed of dog. After all,
	there were also a number of breeds that had zero for an injury statistic, so this would cause plots to be even more skewed.
	</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
		<p>
		The data is pretty coherent in my opinion. I am not an expert in animals, but the data does seem to match my expectations, in that there
		would be breeds of dogs that seem to be more aggressive than others. This is evident in the fact that certain breeds, like the pitbull, have
		more counts of attacks than others. Due to the fact that there are many breeds of dogs, it makes sense that this distribution is also skewed.
		</p>
		<p>In addition, before plotting, I had to clean up some data. As the data was stored via a JSON file instructed by
		the assignment, all values were strings. Thus, I had to convert numerical strings to actual integers. Also, as mentioned before, I removed all rows with nonzero statistics.
		Furthermore, there was a breed called "Total", which did not make sense for the purpose of plotting, so I removed that row as well before plotting.
		</p>
      </div>

      <div class="page-header">
		<h2>Is the data correct?</h2>
		<p>
		The data seems correct. I made a Google search to research common dog breeds that cause injuries, and the statistics found in my research generally match the data presented in this Byte.
		You can read about it <a href="https://chicagoinjurycenter.com/common-breeds">here</a>.
		</p>
		
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
